/*DOM*/
body {
	background-color: rgba(0,0,0,1);
	color:rgba(230,230,230,1);
	margin:0;
	padding: 0;
}
button {
	height: 40px;
	width:40px;
}
/*CLASS*/
.toolHolder {
	background-color: rgba(150,150,150,1);
	padding:1px 0;
}
.toolHolder button {
	margin-right: 
}
.startMenu {
	width:50vw;
	margin: 10vh 25vw;
	text-align: center;
	line-height: 80vh;
}
/*ID*/
