/*DOM*/
body {
	background-color: rgba(0,0,0,1);
	color:rgba(230,230,230,1);
	margin:0;
	padding: 0;
	overflow: hidden;
}
button {
	height: 40px;
	width:40px;
}
/*CLASS*/
.toolHolder {
	background-color: rgba(150,150,150,1);
	top:-100px;
}
.toolHolder_full {
	background-color: rgba(150,150,150,1);
	top:0;
}
.toolHolder button {
	margin-right: 
}
.startMenu {
	top:10vh;
	left:25vw;
	width:50vw;
	line-height: 80vh;
	opacity: 0;
}
.startMenu_full {
	top:10vh;
	left:25vw;
	width:50vw;
	line-height: 80vh;
	opacity: 1;
}
/*ID*/

/*MULTIS*/
.toolHolder_full,.toolHolder {
	text-align: right;
}
.toolHolder_full,.toolHolder {
	width:100vw;
}
.startMenu, .startMenu_full{
	text-align: center;
}
.startMenu, .startMenu_full,.toolHolder_full,.toolHolder {
	position: absolute;
}
.startMenu, .startMenu_full,.toolHolder_full,.toolHolder {
	transition: 1s all;
}