/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.activeTools {
		width: 100vw;
		position: relative;
		margin:1vh auto;
	}

	.listSection {
		overflow-y: scroll;
		height: 90vh;
		position: relative;
		width: 90vw;
		margin:1vh auto;
	}

	.dailyList {
		width: 100vw;
		position: relative;
		margin:1vh 0;
	}

	.dailyBlob {
		width: 100vw;
		margin:1vh auto;
		position: relative;
	}

	.dailyGrid {
		width: 100vw;
		position: relative;
		margin:1vh auto;
	}

	.homePage_full {
		overflow-y: scroll;
		overflow-x: hidden;

	}

	.theArchive {
		width:-webkit-fill-available;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.activeTools {
		width: 100vw;
		position: relative;
		margin:1vh auto;
	}

	.listSection {
		overflow-y: scroll;
		height: 90vh;
		position: relative;
		width: 90vw;
		margin:1vh auto;
	}

	.dailyList {
		width: 100vw;
		position: relative;
		margin:1vh auto;
	}

	.dailyBlob {
		width: 100vw;
		position: relative;
		margin:1vh auto;
	}

	.dailyGrid {
		width: 100vw;
		position: relative;
		margin:1vh auto;
	}

	.homePage_full {
		overflow-y: scroll;
		overflow-x: hidden;

	}

	.theArchive {
		width:-webkit-fill-available;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.activeTools {
		width: 48vw;
		position: absolute;
		top:74vh;
		right: 0;
	}

	.listSection {
		overflow-y: scroll;
		height: 44vh;
		width: 44vw;
		margin:1vh 1vw;
	}

	.dailyList {
		width: 47vw;
		position: absolute;
		top:45vh;
		left: 2vw;
	}

	.dailyBlob {
		width: 48vw;
		position: absolute;
		top:1vh;
		right:0;
	}

	.dailyGrid {
		width: 47vw;
		position: absolute;
		top:1vh;
		left:2vw;
	}

	.theArchive {
		width:50%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.activeTools {
		width: 46vw;
		position: absolute;
		top:74vh;
		right: 2vw;
	}

	.listSection {
		overflow-y: scroll;
		height: 44vh;
		width: 44vw;
		margin:1vh 1vw;
	}

	.dailyList {
		width: 46vw;
		position: absolute;
		top:45vh;
		left: 2vw;
	}

	.dailyBlob {
		width: 46vw;
		position: absolute;
		top:1vh;
		right:2vw;
	}

	.dailyGrid {
		width: 46vw;
		position: absolute;
		top:1vh;
		left:2vw;
	}

	.theArchive {
		width:60%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.activeTools {
		width: 45vw;
		position: absolute;
		top:74vh;
		right: 3vw;
	}

	.listSection {
		overflow-y: scroll;
		height: 44vh;
		width: 44vw;
		margin:1vh 1vw;
	} 

	.dailyList {
		width: 45vw;
		position: absolute;
		top:45vh;
		left: 3vw;
	}

	.dailyBlob {
		width: 45vw;
		position: absolute;
		top:1vh;
		right: 3vw;
	}

	.dailyGrid {
		position: absolute;
		width: 45vw;
		top:1vh;
		left:3vw;
	}

	.theArchive {
		width:70%;
	}
}

/*DOM*/
html,body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 700;
   	font-size: 1em;
}

body {
	background-color: rgba(0,0,0,1);
	color:rgba(230,230,230,1);
	margin:0;
	padding: 0;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: .5em;
}
 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
	background-color: #8F99A6;
	box-shadow: 0 0 1px #010326 inset;
	outline: 1px solid #8F99A6;
}

button {
	height: 10vh;
	width: 10vh;
   	text-align:center;
   	background-color: #8F99A6;
   	border:3px solid #022840;
   	outline:none;
   	cursor: pointer;
}

textarea {
  	resize: none;
  	outline-style: none;
}

h4 {
	text-align: center;
	width: 100vw;
	margin-top:0;
}

/*CLASS*/
.toolHolder {
	background-color: rgba(10,10,10,0);
	top:-100px;
	line-height: 5vh;
}

.toolHolder_full {
	top:0;
	line-height: 5vh;
}

.toolHolder_full button {
	opacity: 1;
	height: -webkit-fill-available;
}

.toolHolder_full button:disabled {
	opacity: 0.4;
}

.homePage {
	background-color: rgba(10,10,10,0);
	bottom:-100vh;
	height: 95vh;
}

.homePage_full {
	bottom:0;
	height: 95vh;
}

.startMenu {
	top:10vh;
	left:25vw;
	width:50vw;
	line-height: 80vh;
	opacity: 0;
}

.startMenu_full {
	top:10vh;
	left:25vw;
	width:50vw;
	line-height:80vh;
	opacity:1;
}

.dailyList {
	height:46vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.activeTools {
	line-height:17vh;
	overflow: hidden;
}

.dailyBlob {
	height:70vh;
	overflow: hidden;
}

.dailyGrid {
	height:fit-content;
}

.dailyGrid textarea {
	position: relative;
	height: 30vh;
	margin:0;
	width: -webkit-fill-available;
}

.dailyGrid button {
	position: relative;
	height: 10vh;
	width: -webkit-fill-available;
	opacity: 1;
}

.dailyGrid button:disabled {
	opacity: 0.4;
}

.blobHolder {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	margin:.5vh .5vw;
	background-color: white;
	color:#010326;
	overflow-y: scroll;
	overflow-x: hidden;
}

.blobHolder p {
	box-shadow: 0 0 2px white inset,0 0 3px white inset,0 0 4px white inset,0 0 5px white inset;
	margin:0 0 .2vh 0;
	padding: 1.3vh 1.3vw;
	text-align: left;
}

.blobHolder p:hover {
	box-shadow: 0 0 2px #010326 inset,0 0 3px #010326 inset,0 0 4px limegreen inset,0 0 8px limegreen inset,0 0 16px limegreen inset;
}

.labels {
	background-color: #8F99A6;
	width: -webkit-fill-available;
	padding: 1vh 1vw;
	cursor: pointer;
}

.listSection {
	background-color: white;
	color: #010326;
	overflow-y: scroll;
}

.listSection p {
	cursor:pointer;
	line-height: 3vh;
	padding: 5px 0;
	margin: 5px;
	text-align: left;
	text-indent: 2vw;
}

.aTButtons {
	margin: auto 3vw;
	display: inline-block;
}

.taskMark {
	float: right;
	line-height: 3vh;
	width: 5vw;
	margin-right: 10px;
	text-align:left;
}

.blokker {
	position: fixed;
	display: block;
	top:0;
	left: 0;
	height: 100vh;
	width:100vw;
	background-color: #010326;
	opacity: 1;
	z-index: 20;
}

.aHolder,.sHolder,.gHolder {
	background-color: white;
	position: absolute;
	left:10vw;
	top:5vh;
	width:80vw;
	height: 90vh;
}

.buttonHolder {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	margin:1vh 1vw;
	text-align: center;
}

.warnPage {
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	background-color: #010326;
	text-align: center;
	z-index: 21;
}

.xOut {
	position: fixed;
	top:0;
	left: 0;
	height: 5vh;
	width:5vw;
	background-color: rgba(0,0,0,0);
	color:red;
	font-size: 2.5vw;
	font-weight: bolder;
	opacity: 1;
	z-index: 21;
	border:none;
	outline-style: none;
}

.theArchive {
	box-shadow: 0 0 1px #010326,0 0 1px #010326;
	height: -webkit-fill-available;
	margin: 1vh 1vw;
	padding: 1vh 1vw;
	border-radius: 1px;
}

.theArchive p {
	background-color:grey;
	margin:0;
	padding: 10px 5px;
	text-indent: 20px;
	cursor: pointer;
}

.space {
	height: 100vh;
	width: 100vw;
	position:fixed;
	top: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 101%;
	background-image: url("../assets/space.jpg");
	text-align: center;
}

.hole {
	display: inline-block;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 25% auto;
    background-color: #010326;
    box-shadow: 0 0 2px yellow, 0 0 20px white;
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

/*ID*/

/*MULTIS*/
.dailyBlob,.dailyGrid,.dailyList,.activeTools {
	background-color: #8F99A6;
}

.toolHolder_full,.homePage_full {
	background-color: rgba(10,10,10,1);
	box-shadow: 0 0 1px #8F99A6 inset;
}

.toolHolder,.homePage {
	background-color: rgba(10,10,10,1);
	box-shadow: 0 0 1px #8F99A6 inset,0 0 2px #8F99A6 inset;
}

.toolHolder_full,.toolHolder,.homePage_full,.homePage {
	width:100vw;
}

.toolHolder_full,.toolHolder,.startMenu, .startMenu_full,.homePage_full,.homePage {
	text-align: center;
}

.startMenu, .startMenu_full,.toolHolder_full,.toolHolder,.homePage_full,.homePage {
	position: absolute;
}

.bObj,.startMenu, .startMenu_full,.toolHolder_full,.toolHolder,.homePage_full,.homePage {
	transition: 666ms all;
}

.blobHolder p {
	transition: 200ms all;
}

/*KEYFRAMES*/
@keyframes spin {
  0% {
  	box-shadow: 0 0 1px yellow, 0 0 30px white;
  }

  25% {
  	box-shadow: 0 0 5px white, 0 0 5px yellow;
  }

  50% {
  	box-shadow: 0 0 30px yellow, 0 0 1px white;
  }

  75% {
  	box-shadow: 0 0 5px white, 0 0 5px yellow;
  }

  100% {
  	box-shadow: 0 0 1px yellow, 0 0 30px white;
  }
}